.container {
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  margin-top: 50px;
}

.row_topIndex, .row_buttons, .row_errorMessage, .row_propsAndReturnVal, .row_desc {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-self: center;
}
.row_svgViz {
  align-self: center;
  width: 60%;
}
.row_topIndex {
  height: 50px;
  margin-left: 15%;
}
.row_buttons {
  background-color: purple;
  justify-content: space-around;
}
.buttons {
  background-color: blue;
}
.row_errorMessage {
  justify-content: center;
}
.row_propsAndReturnVal {
  margin-top: 20px;
  background-color: green;
  justify-content: space-between;
}
.col_stackProps, .col_returnVal {
  padding-left: 30px;
  flex: 1;
}
.col_stackProps {
  background-color: pink;
}
.col_returnVal {
  background-color: orange;
}
.row_desc {
  background-color: blue;
  margin-top: 20px;
}


@media (max-width: 700px) {
  .row_svgViz {
    width: 100%;
  }
  .row_buttons {
    flex-direction: column;
    width: 90%;
  }
  .row_propsAndReturnVal {
    flex-direction: column;
    width: 90%;
  }

}
